{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
    Home
    <ul>
        {% for post in posts %}
            <li>
                {{ post.title }}<br>
                {{ post.body }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
